<mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let card of cards">
    <mat-card class="blog-card">
      <mat-card-header>
        <div class="card-title">
          <mat-card-title>{{card.name}}</mat-card-title>
          <span class="icon-spacer"></span>
          <button mat-icon-button class="edit-icon" aria-label="edit icon" routerLink="/card/edit/{{card.id}}">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="delete-icon" aria-label="delete icon">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="status icon">
            <mat-icon>trip_origin</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{card.content}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><mat-icon>favorite</mat-icon>LIKE</button>
        <button mat-button><mat-icon>comment</mat-icon>Comment</button>
      </mat-card-actions>
      <mat-card-header>
        <div mat-card-avatar class="avartar-icon"></div>
        <mat-card-title>{{card.authorUserName}}</mat-card-title>
        <mat-card-subtitle>2 hours ago</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<!--<app-card-detail [card]="selectedCard"></app-card-detail>-->
